@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<br />
<h4>Kontakt do mnie:</h4>

<address>
    Capgemini<br />
    Wrocław BGH<br />
    <abbr title="Phone">tel:</abbr>
    123-456-789
</address>

<address>
    <strong>Support:</strong> <a href="kamil.napieraj@Capgemini.com">kamil.napieraj@Capgemini.com</a><br />
    
</address>


