@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<br />
<h4>Your contact page.</h4>

<address>
    Capgemini<br />
    Wrocław BGH<br />
    <abbr title="Phone">mail:</abbr>
    kamil.napieraj@capgemini.com
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>


